<footer
  class="flex-col flex gap-2 items-center relative mt-[100px] md:mt-[50px] -top-[50px]"
>

  <div class="flex md:flex-row flex-col items-center justify-center">
    <span>Diseñado por </span><a
    class="ml-2 text-gradient"
    href="https://instagram.com/unknownsolutionsco">Unknown Solutions</a
  >
    </div>
</footer>
<style>
    .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
